/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/py-sample/
*.bundle
*.so
*.o
*.a
mkmf.log
.vscode/
.idea/
.ruby-version

# rspec failure tracking
.rspec_status

Gemfile.lock

cades-linux-amd64/
linux-amd64_deb/
